# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

adminer.php

# File uploads - exclude all content but keep folder structure
uploads/*
!uploads/.gitkeep
!uploads/images/
uploads/images/*
!uploads/images/.gitkeep
!uploads/documents/
uploads/documents/*
!uploads/documents/.gitkeep
